In [17]:
import pandas as pd
import numpy as np

# pandas Series
Series, pandas'ta tek boyutlu veri yapÄ±sÄ±nÄ± temsil eder.  
- Liste, NumPy array veya sabit deÄŸer ile oluÅŸturulabilir.  
- Index (etiketler) opsiyonel olarak verilebilir.  
- Veri ve index birlikte Series objesini oluÅŸturur.

In [18]:
# Basit bir liste ile Series oluÅŸturma
s1 = pd.Series([10, 20, 30, 40, 50])
print(s1)



# Index belirterek Series oluÅŸturma
s2 = pd.Series([5, 10, 15], index=["a", "b", "c"])
print(s2)

0    10
1    20
2    30
3    40
4    50
dtype: int64
a     5
b    10
c    15
dtype: int64

## ğŸ¯ Mini Test
- Kendin bir Series oluÅŸtur (Ã¶r: gÃ¼nlÃ¼k sÄ±caklÄ±k deÄŸerleri)  
- Indexleri Ã¶zelleÅŸtir  
- `head()`, `tail()`, `values` ve `index` Ã¶zelliklerini kullanarak veriyi incele

---

# Series Temel Ä°ÅŸlemler
Pandas Series Ã¼zerinde sÄ±k kullanÄ±lan bazÄ± temel iÅŸlemler:

- `head(n)` â†’ Ä°lk `n` elementi gÃ¶sterir (default 5)
- `tail(n)` â†’ Son `n` elementi gÃ¶sterir (default 5)
- `index` â†’ Seriesâ€™in index bilgilerini dÃ¶ndÃ¼rÃ¼r
- `values` â†’ Seriesâ€™in deÄŸerlerini NumPy array olarak dÃ¶ndÃ¼rÃ¼r
- `describe()` â†’ SayÄ±sal deÄŸerler iÃ§in Ã¶zet istatistikleri verir

In [19]:
# Ã–rnek Series
s = pd.Series([100, 200, 300, 400, 500], index=["a", "b", "c", "d", "e"])

# Ä°lk ve son elemanlar
print("Head:\n", s.head(3))
print("\nTail:\n", s.tail(2))

# Index ve deÄŸerler
print("\nIndex:\n", s.index)
print("\nValues:\n", s.values)

# Temel istatistikler
print("\nDescribe:\n", s.describe())

Head:
 a    100
b    200
c    300
dtype: int64

Tail:
 d    400
e    500
dtype: int64

Index:
 Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

Values:
 [100 200 300 400 500]

Describe:
 count      5.000000
mean     300.000000
std      158.113883
min      100.000000
25%      200.000000
50%      300.000000
75%      400.000000
max      500.000000
dtype: float64

---

# Series: Filtreleme ve KoÅŸullu SeÃ§im
Bir `Series` Ã¼zerinde koÅŸullar tanÄ±mlayarak belirli deÄŸerleri seÃ§ebiliriz.  
Bu, tÄ±pkÄ± NumPy array filtrelemesine benzer ÅŸekilde Ã§alÄ±ÅŸÄ±r.
- KarÅŸÄ±laÅŸtÄ±rma operatÃ¶rleri (`>`, `<`, `==`, `!=`) kullanÄ±labilir.
- SonuÃ§ olarak **boolean** deÄŸerler dÃ¶ner, bu deÄŸerlerle filtreleme yapÄ±lÄ±r.

In [20]:
import pandas as pd

# Ã–rnek Series
s = pd.Series([12, 5, 20, 7, 15, 3])

# KoÅŸullu seÃ§im
print("15'ten bÃ¼yÃ¼k olan deÄŸerler:")
print(s[s > 15])

print("\n5 ile 15 arasÄ±ndaki deÄŸerler:")
print(s[(s >= 5) & (s <= 15)])

# EÅŸitlik kontrolÃ¼
print("\n5'e eÅŸit olan deÄŸer:")
print(s[s == 5])

15'ten bÃ¼yÃ¼k olan deÄŸerler:
2    20
dtype: int64

5 ile 15 arasÄ±ndaki deÄŸerler:
0    12
1     5
3     7
4    15
dtype: int64

5'e eÅŸit olan deÄŸer:
1    5
dtype: int64

Pandas Series, NumPy benzeri **vektÃ¶rleÅŸtirilmiÅŸ iÅŸlemleri** destekler.
- Toplama, Ã§Ä±karma, Ã§arpma, bÃ¶lme doÄŸrudan yapÄ±labilir.
- Ä°ÅŸlemler **index bazlÄ±** gerÃ§ekleÅŸir.

---

# DataFrame Temelleri
`DataFrame`, Pandas'Ä±n en temel veri yapÄ±sÄ±dÄ±r.  
Excel tablosu gibi **satÄ±r ve sÃ¼tunlardan oluÅŸur**.

Bir DataFrame:
- SatÄ±r â†’ GÃ¶zlem (Ã¶rnek)
- SÃ¼tun â†’ Ã–zellik (deÄŸiÅŸken)

In [21]:
import pandas as pd

# SÃ¶zlÃ¼kten DataFrame oluÅŸturma
veri = {
    "isim": ["Ali", "Veli", "AyÅŸe", "Ahmet"],
    "yaÅŸ": [17, 18, 20, 19],
    "not": [85, 92, 78, 88]
}

df = pd.DataFrame(veri)
print(df)

# Temel bilgiler
print("\nBoyut:", df.shape)
print("SÃ¼tunlar:", df.columns.tolist())
print("Veri tipleri:\n", df.dtypes)

    isim  yaÅŸ  not
0    Ali   17   85
1   Veli   18   92
2   AyÅŸe   20   78
3  Ahmet   19   88

Boyut: (4, 3)
SÃ¼tunlar: ['isim', 'yaÅŸ', 'not']
Veri tipleri:
 isim    object
yaÅŸ      int64
not      int64
dtype: object

###  Not:
- `shape` â†’ (satÄ±r, sÃ¼tun) sayÄ±sÄ±nÄ± dÃ¶ndÃ¼rÃ¼r.  
- `columns` â†’ sÃ¼tun isimlerini verir.  
- `dtypes` â†’ sÃ¼tun veri tiplerini gÃ¶sterir.
---

# SÃ¼tun ve SatÄ±r EriÅŸimi
DataFrame'de veriye eriÅŸmenin birden fazla yolu vardÄ±r:
- `df["kolon"]` â†’ Tek sÃ¼tun seÃ§imi
- `df[["kolon1", "kolon2"]]` â†’ Birden fazla sÃ¼tun seÃ§imi
- `df.loc[]` â†’ Etiket bazlÄ± eriÅŸim
- `df.iloc[]` â†’ Ä°ndeks bazlÄ± eriÅŸim

In [22]:
# SÃ¼tun seÃ§imi
print(df["isim"])
print(df[["isim", "not"]])

# SatÄ±r seÃ§imi
print("\nÄ°lk satÄ±r (loc):")
print(df.loc[0])

print("\nÄ°lk satÄ±r (iloc):")
print(df.iloc[0])

# Belirli hÃ¼creye eriÅŸim
print("\nÄ°sim ve not sÃ¼tunu (2. satÄ±r):")
print(df.loc[1, ["isim", "not"]])

0      Ali
1     Veli
2     AyÅŸe
3    Ahmet
Name: isim, dtype: object
    isim  not
0    Ali   85
1   Veli   92
2   AyÅŸe   78
3  Ahmet   88

Ä°lk satÄ±r (loc):
isim    Ali
yaÅŸ      17
not      85
Name: 0, dtype: object

Ä°lk satÄ±r (iloc):
isim    Ali
yaÅŸ      17
not      85
Name: 0, dtype: object

Ä°sim ve not sÃ¼tunu (2. satÄ±r):
isim    Veli
not       92
Name: 1, dtype: object

### Not:
- `loc` etikete gÃ¶re, `iloc` ise **pozisyon numarasÄ±na gÃ¶re** eriÅŸir.  
- `df.loc[0:2]` â†’ 0,1,2 dahil  
- `df.iloc[0:2]` â†’ 0 ve 1 dahil, 2 hariÃ§  
---

## ğŸ¯ Mini Test
- Yeni bir DataFrame oluÅŸtur: `Ã¼rÃ¼n`, `fiyat`, `stok`
- Sadece `fiyat` sÃ¼tununu yazdÄ±r  
- `iloc` ile ilk iki satÄ±rÄ± seÃ§  
- `loc` ile `stok` sÃ¼tununu ve 1. satÄ±rÄ± getir

# DataFrame: Filtreleme ve KoÅŸullu SeÃ§imler
DataFrame Ã¼zerinde koÅŸullu filtreleme yaparak belirli satÄ±rlarÄ± seÃ§ebiliriz.

KullanÄ±lan yapÄ±lar:
- KarÅŸÄ±laÅŸtÄ±rma operatÃ¶rleri: `>`, `<`, `==`, `!=`, `>=`, `<=`
- MantÄ±ksal baÄŸlaÃ§lar: `&` (ve), `|` (veya), `~` (deÄŸil)
- `isin()` â†’ Belirli deÄŸerleri iÃ§eren satÄ±rlarÄ± seÃ§er  
- `between(a, b)` â†’ Ä°ki deÄŸer arasÄ±ndaki satÄ±rlarÄ± seÃ§er  
- `query()` â†’ SQL benzeri filtreleme saÄŸlar

In [23]:
import pandas as pd

# Ã–rnek DataFrame
veri = {
    "isim": ["Ali", "Veli", "AyÅŸe", "Ahmet", "Mehmet"],
    "yaÅŸ": [17, 18, 21, 20, 19],
    "not": [85, 92, 78, 88, 95]
}

df = pd.DataFrame(veri)

# Basit koÅŸullu filtreleme
print("YaÅŸÄ± 18'den bÃ¼yÃ¼k olanlar:")
print(df[df["yaÅŸ"] > 18])

# Birden fazla koÅŸul
print("\nYaÅŸÄ± 18'den bÃ¼yÃ¼k ve notu 90'dan kÃ¼Ã§Ã¼k olanlar:")
print(df[(df["yaÅŸ"] > 18) & (df["not"] < 90)])

# isin() kullanÄ±mÄ±
print("\nÄ°smi Ali veya AyÅŸe olanlar:")
print(df[df["isim"].isin(["Ali", "AyÅŸe"])])

# between() kullanÄ±mÄ±
print("\nNotu 80 ile 90 arasÄ±nda olanlar:")
print(df[df["not"].between(80, 90)])

# query() kullanÄ±mÄ±
print("\nQuery ile 18 yaÅŸÄ±ndan bÃ¼yÃ¼k Ã¶ÄŸrenciler:")
print(df.query("yaÅŸ > 18"))

YaÅŸÄ± 18'den bÃ¼yÃ¼k olanlar:
     isim  yaÅŸ  not
2    AyÅŸe   21   78
3   Ahmet   20   88
4  Mehmet   19   95

YaÅŸÄ± 18'den bÃ¼yÃ¼k ve notu 90'dan kÃ¼Ã§Ã¼k olanlar:
    isim  yaÅŸ  not
2   AyÅŸe   21   78
3  Ahmet   20   88

Ä°smi Ali veya AyÅŸe olanlar:
   isim  yaÅŸ  not
0   Ali   17   85
2  AyÅŸe   21   78

Notu 80 ile 90 arasÄ±nda olanlar:
    isim  yaÅŸ  not
0    Ali   17   85
3  Ahmet   20   88

Query ile 18 yaÅŸÄ±ndan bÃ¼yÃ¼k Ã¶ÄŸrenciler:
     isim  yaÅŸ  not
2    AyÅŸe   21   78
3   Ahmet   20   88
4  Mehmet   19   95

### Notlar:
- `&`, `|`, `~` operatÃ¶rleri parantezle kullanÄ±lmalÄ±dÄ±r.
- `isin()` â†’ bir liste iÃ§indeki elemanlara gÃ¶re filtreler.
- `between(a, b)` â†’ `a` ve `b` dahil aralÄ±ÄŸÄ± seÃ§er.
- `query()` â†’ string tabanlÄ± sorgular iÃ§in kullanÄ±ÅŸlÄ±dÄ±r (SQL benzeri).

---

## ğŸ¯ Mini Test
- `df`â€™ten notu 85â€™ten yÃ¼ksek Ã¶ÄŸrencileri filtrele  
- `isin()` kullanarak sadece `"Ali"` ve `"Mehmet"` olan satÄ±rlarÄ± seÃ§  
- `between()` ile 18â€“20 yaÅŸ arasÄ± Ã¶ÄŸrencileri getir  
- AynÄ± filtreyi `query()` ile tekrar et

---

# DataFrame: Aritmetik Ä°ÅŸlemler & Yeni SÃ¼tun Ekleme
DataFrame Ã¼zerinde sÃ¼tun bazlÄ± iÅŸlemler yapÄ±labilir.  
Bu iÅŸlemlerle veri tÃ¼retebilir, yeni sÃ¼tunlar ekleyebilir veya mevcut sÃ¼tunlarÄ± dÃ¶nÃ¼ÅŸtÃ¼rebilirsin.

YÃ¶ntemler:
- **DoÄŸrudan atama:** `df["yeni"] = ...`
- **assign():** Yeni sÃ¼tunlar ekler, gerekirse zincirleme (chained) kullanÄ±m yapÄ±labilir.
- **apply():** Fonksiyon veya `lambda` ile her satÄ±r/sÃ¼tuna iÅŸlem uygular.
- **vectorized operations:** Pandas, NumPy tabanlÄ± olduÄŸu iÃ§in toplama/Ã§arpma gibi iÅŸlemler otomatik vektÃ¶rleÅŸtirilir.

In [24]:
import pandas as pd

veri = {
    "isim": ["Ali", "Veli", "AyÅŸe", "Ahmet", "Mehmet"],
    "yaÅŸ": [17, 18, 21, 20, 19],
    "not": [85, 92, 78, 88, 95]
}

df = pd.DataFrame(veri)

# DoÄŸrudan sÃ¼tun ekleme
df["yaÅŸ_kare"] = df["yaÅŸ"] ** 2
print("Yeni sÃ¼tun eklendi:")
print(df, "\n")

# Birden fazla sÃ¼tun eklemek iÃ§in assign()
df = df.assign(not_yÃ¼zde = df["not"] / 100,
               kategori = ["DÃ¼ÅŸÃ¼k", "Orta", "YÃ¼ksek", "Orta", "YÃ¼ksek"])
print("assign() ile eklenmiÅŸ sÃ¼tunlar:")
print(df, "\n")

# apply() kullanÄ±mÄ± - her satÄ±ra Ã¶zel iÅŸlem
df["durum"] = df.apply(lambda x: "GeÃ§ti" if x["not"] >= 85 else "KaldÄ±", axis=1)
print("apply() ile 'durum' sÃ¼tunu:")
print(df, "\n")

# Aritmetik iÅŸlemler
df["not_artÄ±_5"] = df["not"] + 5
df["yaÅŸ_farkÄ±"] = df["yaÅŸ"] - df["yaÅŸ"].mean()

print("Aritmetik iÅŸlemlerden sonra DataFrame:")
print(df)

Yeni sÃ¼tun eklendi:
     isim  yaÅŸ  not  yaÅŸ_kare
0     Ali   17   85       289
1    Veli   18   92       324
2    AyÅŸe   21   78       441
3   Ahmet   20   88       400
4  Mehmet   19   95       361

assign() ile eklenmiÅŸ sÃ¼tunlar:
     isim  yaÅŸ  not  yaÅŸ_kare  not_yÃ¼zde kategori
0     Ali   17   85       289       0.85    DÃ¼ÅŸÃ¼k
1    Veli   18   92       324       0.92     Orta
2    AyÅŸe   21   78       441       0.78   YÃ¼ksek
3   Ahmet   20   88       400       0.88     Orta
4  Mehmet   19   95       361       0.95   YÃ¼ksek

apply() ile 'durum' sÃ¼tunu:
     isim  yaÅŸ  not  yaÅŸ_kare  not_yÃ¼zde kategori  durum
0     Ali   17   85       289       0.85    DÃ¼ÅŸÃ¼k  GeÃ§ti
1    Veli   18   92       324       0.92     Orta  GeÃ§ti
2    AyÅŸe   21   78       441       0.78   YÃ¼ksek  KaldÄ±
3   Ahmet   20   88       400       0.88     Orta  GeÃ§ti
4  Mehmet   19   95       361       0.95   YÃ¼ksek  GeÃ§ti

Aritmetik iÅŸlemlerden sonra DataFrame:
     isim  yaÅŸ  not  yaÅŸ_kare  not_yÃ¼zde kategori  durum  not_artÄ±_5  \
0     Ali   17   85       289       0.85    DÃ¼ÅŸÃ¼k  GeÃ§ti          90
1    Veli   18   92       324       0.92     Orta  GeÃ§ti          97
2    AyÅŸe   21   78       441       0.78   YÃ¼ksek  KaldÄ±          83
3   Ahmet   20   88       400       0.88     Orta  GeÃ§ti          93
4  Mehmet   19   95       361       0.95   YÃ¼ksek  GeÃ§ti         100

   yaÅŸ_farkÄ±
0       -2.0
1       -1.0
2        2.0
3        1.0
4        0.0

### Notlar:
- `df["yeni_sÃ¼tun"] = ...` â†’ en temel ekleme yÃ¶ntemidir.
- `assign()` â†’ zincirleme iÅŸlemlerde (Ã¶r. `df.assign(...).sort_values(...)`) daha gÃ¼venlidir.
- `apply()` â†’ satÄ±r (`axis=1`) veya sÃ¼tun (`axis=0`) bazÄ±nda fonksiyon Ã§alÄ±ÅŸtÄ±rÄ±r.
- NumPy destekli iÅŸlemler doÄŸrudan tÃ¼m sÃ¼tuna uygulanabilir (Ã¶r. `df["yaÅŸ"] ** 2`).



## ğŸ¯ Mini Test
1. `df`'e yeni bir sÃ¼tun ekle: `yaÅŸ_plus_10 = yaÅŸ + 10`
2. `apply()` kullanarak `not >= 90` olanlara `"A"`, diÄŸerlerine `"B"` etiketi ekle.
3. `assign()` ile `"yaÅŸ_grubu"` sÃ¼tunu oluÅŸtur:  
   - `yaÅŸ < 18` â†’ `"GenÃ§"`  
   - `yaÅŸ >= 18` â†’ `"YetiÅŸkin"`

---

# Eksik Veriler (NaN) ile Ã‡alÄ±ÅŸmak

GerÃ§ek veri kÃ¼melerinde eksik deÄŸerler (NaN) Ã§ok sÄ±k gÃ¶rÃ¼lÃ¼r.  
Pandas bu durumlar iÃ§in gÃ¼Ã§lÃ¼ fonksiyonlar sunar.

**Temel Fonksiyonlar:**
- `isnull()` â†’ Eksik deÄŸerleri `True/False` olarak gÃ¶sterir.  
- `notnull()` â†’ TamamlayÄ±cÄ± versiyonu (`True` â†’ veri var).  
- `fillna()` â†’ Eksik deÄŸerleri belirli bir deÄŸerle doldurur.  
- `dropna()` â†’ Eksik deÄŸer iÃ§eren satÄ±r/sÃ¼tunlarÄ± siler.  
- `interpolate()` â†’ Eksik deÄŸerleri doÄŸrusal veya belirli yÃ¶ntemlerle tahmin eder.
Eksik Veriler (NaN) ile Ã‡alÄ±ÅŸmak

GerÃ§ek veri kÃ¼melerinde eksik deÄŸerler (NaN) Ã§ok sÄ±k gÃ¶rÃ¼lÃ¼r.  
Pandas bu durumlar iÃ§in gÃ¼Ã§lÃ¼ fonksiyonlar sunar.

**Temel Fonksiyonlar:**
- `isnull()` â†’ Eksik deÄŸerleri `True/False` olarak gÃ¶sterir.  
- `notnull()` â†’ TamamlayÄ±cÄ± versiyonu (`True` â†’ veri var).  
- `fillna()` â†’ Eksik deÄŸerleri belirli bir deÄŸerle doldurur.  
- `dropna()` â†’ Eksik deÄŸer iÃ§eren satÄ±r/sÃ¼tunlarÄ± siler.  
- `interpolate()` â†’ Eksik deÄŸerleri doÄŸrusal veya belirli yÃ¶ntemlerle tahmin eder.

In [25]:
import pandas as pd
import numpy as np

veri = {
    "isim": ["Ali", "Veli", "AyÅŸe", "Ahmet", "Mehmet"],
    "yaÅŸ": [17, np.nan, 21, 20, np.nan],
    "not": [85, 92, np.nan, 88, 95]
}

df = pd.DataFrame(veri)
print("Orijinal DataFrame:\n", df, "\n")

# Eksik deÄŸer kontrolÃ¼
print("Eksik deÄŸer durumu (True = Eksik):\n", df.isnull(), "\n")

# KaÃ§ tane eksik deÄŸer var?
print("Her sÃ¼tundaki eksik deÄŸer sayÄ±sÄ±:\n", df.isnull().sum(), "\n")

# Eksik deÄŸerleri doldurmak
df_filled = df.fillna({
    "yaÅŸ": df["yaÅŸ"].mean(),
    "not": df["not"].median()
})
print("Eksikler dolduruldu (ortalama/median ile):\n", df_filled, "\n")

# Eksik deÄŸer iÃ§eren satÄ±rlarÄ± silmek
df_dropped = df.dropna()
print("Eksik deÄŸer iÃ§eren satÄ±rlar atÄ±ldÄ±:\n", df_dropped, "\n")

# interpolate(): doÄŸrusal tahmin yÃ¶ntemiyle doldurma
df_interp = df.interpolate()
print("interpolate() ile doldurulmuÅŸ DataFrame:\n", df_interp)

Orijinal DataFrame:
      isim   yaÅŸ   not
0     Ali  17.0  85.0
1    Veli   NaN  92.0
2    AyÅŸe  21.0   NaN
3   Ahmet  20.0  88.0
4  Mehmet   NaN  95.0

Eksik deÄŸer durumu (True = Eksik):
     isim    yaÅŸ    not
0  False  False  False
1  False   True  False
2  False  False   True
3  False  False  False
4  False   True  False

Her sÃ¼tundaki eksik deÄŸer sayÄ±sÄ±:
 isim    0
yaÅŸ     2
not     1
dtype: int64

Eksikler dolduruldu (ortalama/median ile):
      isim        yaÅŸ   not
0     Ali  17.000000  85.0
1    Veli  19.333333  92.0
2    AyÅŸe  21.000000  90.0
3   Ahmet  20.000000  88.0
4  Mehmet  19.333333  95.0

Eksik deÄŸer iÃ§eren satÄ±rlar atÄ±ldÄ±:
     isim   yaÅŸ   not
0    Ali  17.0  85.0
3  Ahmet  20.0  88.0

interpolate() ile doldurulmuÅŸ DataFrame:
      isim   yaÅŸ   not
0     Ali  17.0  85.0
1    Veli  19.0  92.0
2    AyÅŸe  21.0  90.0
3   Ahmet  20.0  88.0
4  Mehmet  20.0  95.0

C:\Users\56768\AppData\Local\Temp\ipykernel_22164\3232495495.py:31: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_interp = df.interpolate()

### Notlar:
- `isnull()` ve `notnull()` fonksiyonlarÄ±, mantÄ±ksal maskeler oluÅŸturmak iÃ§in idealdir.
- `fillna()` â†’ Eksikleri ortalama, median veya sabit bir deÄŸerle doldurmak iÃ§in kullanÄ±lÄ±r.
- `dropna()` â†’ SatÄ±r veya sÃ¼tun bazÄ±nda eksikleri tamamen kaldÄ±rÄ±r (`axis` parametresiyle kontrol edilir).
- `interpolate()` â†’ Eksik deÄŸerleri doÄŸrusal tahmin veya zamansal verilerde ileriye dÃ¶nÃ¼k tahminlerle doldurur.



## ğŸ¯ Mini Test
1. `df`â€™deki `yaÅŸ` sÃ¼tunundaki NaN deÄŸerleri ortalama ile doldur.  
2. `not` sÃ¼tunundaki NaN deÄŸerleri 0 yap.  
3. Eksik deÄŸer iÃ§eren **satÄ±rlarÄ± sil** ve sonucu yazdÄ±r.  
4. `interpolate()` kullanarak `yaÅŸ` sÃ¼tunundaki eksikleri tahmin et.

---

# Veri SÄ±ralama, Filtreleme ve Gruplama

Bu bÃ¶lÃ¼mde veriyi farklÄ± aÃ§Ä±lardan analiz etmek iÃ§in kullanacaÄŸÄ±mÄ±z Ã¼Ã§ temel yapÄ± var:

- **SÄ±ralama (`sort_values`)** â†’ SÃ¼tun deÄŸerlerine gÃ¶re artan veya azalan sÄ±ralama.  
- **Filtreleme (`query`)** â†’ SQL benzeri sorgularla koÅŸullu seÃ§im yapma.  
- **Gruplama (`groupby`)** â†’ Verileri belirli bir kategoriye gÃ¶re Ã¶zetleme (ortalama, toplam vb.).

In [26]:
import pandas as pd

veri = {
    "departman": ["IT", "IT", "HR", "HR", "SatÄ±ÅŸ", "SatÄ±ÅŸ", "SatÄ±ÅŸ"],
    "isim": ["Ali", "Veli", "AyÅŸe", "Ahmet", "Mehmet", "Cem", "Can"],
    "maaÅŸ": [12000, 15000, 11000, 13000, 20000, 18000, 21000],
    "deneyim": [3, 5, 2, 4, 6, 5, 7]
}

df = pd.DataFrame(veri)
print("Orijinal DataFrame:\n", df, "\n")

# Veri sÄ±ralama
print("MaaÅŸa gÃ¶re artan sÄ±ralama:\n", df.sort_values("maaÅŸ"), "\n")
print("Deneyime gÃ¶re azalan sÄ±ralama:\n", df.sort_values("deneyim", ascending=False), "\n")

# query() ile koÅŸullu filtreleme
print("MaaÅŸÄ± 15000â€™den yÃ¼ksek olan Ã§alÄ±ÅŸanlar:\n", df.query("maaÅŸ > 15000"), "\n")
print("IT departmanÄ±nda olanlar:\n", df.query("departman == 'IT'"), "\n")

# groupby() ile gruplayarak Ã¶zetleme
grup = df.groupby("departman").agg({
    "maaÅŸ": ["mean", "max", "min"],
    "deneyim": "mean"
})
print("Departman bazlÄ± maaÅŸ ve deneyim Ã¶zeti:\n", grup, "\n")

# Gruplama sonrasÄ± reset_index()
grup_reset = grup.reset_index()
print("reset_index() ile dÃ¼zenlenmiÅŸ tablo:\n", grup_reset)

Orijinal DataFrame:
   departman    isim   maaÅŸ  deneyim
0        IT     Ali  12000        3
1        IT    Veli  15000        5
2        HR    AyÅŸe  11000        2
3        HR   Ahmet  13000        4
4     SatÄ±ÅŸ  Mehmet  20000        6
5     SatÄ±ÅŸ     Cem  18000        5
6     SatÄ±ÅŸ     Can  21000        7

MaaÅŸa gÃ¶re artan sÄ±ralama:
   departman    isim   maaÅŸ  deneyim
2        HR    AyÅŸe  11000        2
0        IT     Ali  12000        3
3        HR   Ahmet  13000        4
1        IT    Veli  15000        5
5     SatÄ±ÅŸ     Cem  18000        5
4     SatÄ±ÅŸ  Mehmet  20000        6
6     SatÄ±ÅŸ     Can  21000        7

Deneyime gÃ¶re azalan sÄ±ralama:
   departman    isim   maaÅŸ  deneyim
6     SatÄ±ÅŸ     Can  21000        7
4     SatÄ±ÅŸ  Mehmet  20000        6
1        IT    Veli  15000        5
5     SatÄ±ÅŸ     Cem  18000        5
3        HR   Ahmet  13000        4
0        IT     Ali  12000        3
2        HR    AyÅŸe  11000        2

MaaÅŸÄ± 15000â€™den yÃ¼ksek olan Ã§alÄ±ÅŸanlar:
   departman    isim   maaÅŸ  deneyim
4     SatÄ±ÅŸ  Mehmet  20000        6
5     SatÄ±ÅŸ     Cem  18000        5
6     SatÄ±ÅŸ     Can  21000        7

IT departmanÄ±nda olanlar:
   departman  isim   maaÅŸ  deneyim
0        IT   Ali  12000        3
1        IT  Veli  15000        5

Departman bazlÄ± maaÅŸ ve deneyim Ã¶zeti:
                    maaÅŸ               deneyim
                   mean    max    min    mean
departman
HR         12000.000000  13000  11000     3.0
IT         13500.000000  15000  12000     4.0
SatÄ±ÅŸ      19666.666667  21000  18000     6.0

reset_index() ile dÃ¼zenlenmiÅŸ tablo:
   departman          maaÅŸ               deneyim
                     mean    max    min    mean
0        HR  12000.000000  13000  11000     3.0
1        IT  13500.000000  15000  12000     4.0
2     SatÄ±ÅŸ  19666.666667  21000  18000     6.0

### Notlar:
- `sort_values("kolon", ascending=False)` â†’ Belirli bir kolona gÃ¶re azalan sÄ±ralama yapar.  
- `query("koÅŸul ifadesi")` â†’ Filtreleme iÅŸlemini okunabilir hale getirir.  
- `groupby("kolon")` â†’ Veriyi gruplar, ardÄ±ndan `mean()`, `sum()`, `count()` gibi Ã¶zet fonksiyonlar uygulanÄ±r.  
- `agg()` â†’ Birden fazla fonksiyonu aynÄ± anda uygular.  
- `reset_index()` â†’ groupby sonrasÄ±nda indeksleri tekrar normal sÃ¼tunlara Ã§evirir.

---

## ğŸ¯ Mini Test
1. `maaÅŸ` deÄŸerine gÃ¶re en yÃ¼ksek 3 kiÅŸiyi seÃ§.  
2. `query()` ile yalnÄ±zca `deneyim >= 5` olanlarÄ± getir.  
3. `groupby()` ile her `departman` iÃ§in ortalama maaÅŸÄ± hesapla.  
4. `agg()` kullanarak her `departman` iÃ§in hem `maaÅŸ` ortalamasÄ±nÄ± hem de maksimumunu bul.

---

# DataFrame BirleÅŸtirme ve Join Ä°ÅŸlemleri

Bu bÃ¶lÃ¼mde farklÄ± DataFrameâ€™leri bir araya getirmek iÃ§in kullanacaÄŸÄ±mÄ±z temel yÃ¶ntemler:

- **concat()** â†’ DataFrameâ€™leri dikey veya yatay olarak birleÅŸtirme.  
- **merge()** â†’ SQL benzeri join iÅŸlemleri (inner, outer, left, right).  
- **join()** â†’ index bazlÄ± birleÅŸtirme.  

Bu yÃ¶ntemler bÃ¼yÃ¼k veri setlerini yÃ¶netirken ve farklÄ± kaynaklardan gelen verileri birleÅŸtirirken Ã§ok kullanÄ±ÅŸlÄ±dÄ±r.

In [27]:
import pandas as pd

# Ã–rnek DataFrameâ€™ler
df1 = pd.DataFrame({
    "id": [1, 2, 3],
    "isim": ["Ali", "Veli", "AyÅŸe"],
    "departman": ["IT", "IT", "HR"]
})

df2 = pd.DataFrame({
    "id": [2, 3, 4],
    "maaÅŸ": [15000, 13000, 18000],
    "deneyim": [5, 4, 6]
})

print("df1:\n", df1, "\n")
print("df2:\n", df2, "\n")

# concat ile birleÅŸtirme (dikey)
concat_dikey = pd.concat([df1, df2], axis=0, ignore_index=True)
print("concat (dikey):\n", concat_dikey, "\n")

# concat ile birleÅŸtirme (yatay)
concat_yatay = pd.concat([df1, df2], axis=1)
print("concat (yatay):\n", concat_yatay, "\n")

# merge ile inner join (id bazlÄ±)
merge_inner = pd.merge(df1, df2, on="id", how="inner")
print("merge inner join:\n", merge_inner, "\n")

# merge ile left join
merge_left = pd.merge(df1, df2, on="id", how="left")
print("merge left join:\n", merge_left, "\n")

# index bazlÄ± join
df1_index = df1.set_index("id")
df2_index = df2.set_index("id")
join_index = df1_index.join(df2_index, how="inner")
print("join index bazlÄ±:\n", join_index, "\n")

df1:
    id  isim departman
0   1   Ali        IT
1   2  Veli        IT
2   3  AyÅŸe        HR

df2:
    id   maaÅŸ  deneyim
0   2  15000        5
1   3  13000        4
2   4  18000        6

concat (dikey):
    id  isim departman     maaÅŸ  deneyim
0   1   Ali        IT      NaN      NaN
1   2  Veli        IT      NaN      NaN
2   3  AyÅŸe        HR      NaN      NaN
3   2   NaN       NaN  15000.0      5.0
4   3   NaN       NaN  13000.0      4.0
5   4   NaN       NaN  18000.0      6.0

concat (yatay):
    id  isim departman  id   maaÅŸ  deneyim
0   1   Ali        IT   2  15000        5
1   2  Veli        IT   3  13000        4
2   3  AyÅŸe        HR   4  18000        6

merge inner join:
    id  isim departman   maaÅŸ  deneyim
0   2  Veli        IT  15000        5
1   3  AyÅŸe        HR  13000        4

merge left join:
    id  isim departman     maaÅŸ  deneyim
0   1   Ali        IT      NaN      NaN
1   2  Veli        IT  15000.0      5.0
2   3  AyÅŸe        HR  13000.0      4.0

join index bazlÄ±:
     isim departman   maaÅŸ  deneyim
id
2   Veli        IT  15000        5
3   AyÅŸe        HR  13000        4

### Notlar:
- `pd.concat([df1, df2], axis=0)` â†’ Dikey birleÅŸtirme (satÄ±r ekler).  
- `pd.concat([df1, df2], axis=1)` â†’ Yatay birleÅŸtirme (sÃ¼tun ekler).  
- `merge(df1, df2, on="id", how="inner")` â†’ Ortak idâ€™leri alÄ±r.  
- `merge(..., how="left")` â†’ Sol DataFrameâ€™in tÃ¼m satÄ±rlarÄ±nÄ± alÄ±r, eÅŸleÅŸmeyenleri NaN yapar.  
- `join()` â†’ Index bazlÄ± hÄ±zlÄ± birleÅŸtirme.  


## ğŸ¯ Mini Test
1. `df1` ve `df2`â€™yi id bazÄ±nda outer join ile birleÅŸtir.  
2. YalnÄ±zca df2â€™de olup df1â€™de olmayan idâ€™leri seÃ§.  
3. BirleÅŸtirilmiÅŸ tabloda maaÅŸ ortalamasÄ±nÄ± departmana gÃ¶re hesapla.

---

# Pivot Table ve Crosstab

Veriyi Ã¶zetlemek ve kategorik analizler yapmak iÃ§in kullanÄ±lan gÃ¼Ã§lÃ¼ araÃ§lar:

- **pivot_table()** â†’ Excelâ€™deki pivot table mantÄ±ÄŸÄ±, grup bazlÄ± Ã¶zetler.  
- **crosstab()** â†’ Ä°ki veya daha fazla kategorik deÄŸiÅŸkenin sÄ±klÄ±k tablosu.  

Bu araÃ§lar Ã¶zellikle satÄ±ÅŸ, anket veya kategori bazlÄ± verilerde hÄ±zlÄ± Ã¶zet Ã§Ä±karmak iÃ§in kullanÄ±ÅŸlÄ±dÄ±r.

In [28]:
import pandas as pd

# Ã–rnek veri
data = {
    "isim": ["Ali", "Veli", "AyÅŸe", "Ali", "Veli", "AyÅŸe"],
    "departman": ["IT", "IT", "HR", "IT", "IT", "HR"],
    "ay": ["Ocak", "Ocak", "Ocak", "Åubat", "Åubat", "Åubat"],
    "maas": [15000, 16000, 13000, 15500, 16200, 13500]
}

df = pd.DataFrame(data)
print("Orijinal DataFrame:\n", df, "\n")

# pivot_table ile departman bazÄ±nda maaÅŸ ortalamasÄ±
pivot = pd.pivot_table(df, values="maas", index="departman", columns="ay", aggfunc="mean")
print("Pivot Table (maas ortalamasÄ±):\n", pivot, "\n")

# crosstab ile isim ve ay bazÄ±nda sayÄ±
crosstab = pd.crosstab(df["isim"], df["ay"])
print("Crosstab (isim vs ay):\n", crosstab, "\n")

Orijinal DataFrame:
    isim departman     ay   maas
0   Ali        IT   Ocak  15000
1  Veli        IT   Ocak  16000
2  AyÅŸe        HR   Ocak  13000
3   Ali        IT  Åubat  15500
4  Veli        IT  Åubat  16200
5  AyÅŸe        HR  Åubat  13500

Pivot Table (maas ortalamasÄ±):
 ay            Ocak    Åubat
departman
HR         13000.0  13500.0
IT         15500.0  15850.0

Crosstab (isim vs ay):
 ay    Ocak  Åubat
isim
Ali      1      1
AyÅŸe     1      1
Veli     1      1

### Notlar:
- `pivot_table(values, index, columns, aggfunc)` â†’ Ä°lgili deÄŸerlerin Ã¶zetini verir.  
- `aggfunc="mean"` â†’ Ortalama, `"sum"` â†’ Toplam, `"count"` â†’ Adet gibi kullanÄ±labilir.  
- `pd.crosstab(df["isim"], df["ay"])` â†’ Ä°sim ve ay bazÄ±nda kaÃ§ kayÄ±t olduÄŸunu sayar.  

---

## ğŸ¯ Mini Test
1. Departman ve ay bazÄ±nda maaÅŸ toplamÄ±nÄ± pivot_table ile hesapla.  
2. Ä°sim ve departman bazÄ±nda kayÄ±t adedini crosstab ile bul.  
3. Pivot tabloyu `fill_value=0` ile boÅŸ deÄŸerleri sÄ±fÄ±rla.

# GroupBy ve Aggregation

`groupby()` fonksiyonu, veri Ã¼zerinde gruplama yaparak Ã¶zet istatistikler Ã§Ä±karmamÄ±za yarar.  
Kategorik deÄŸiÅŸkenlere gÃ¶re sayÄ±sal verileri analiz etmek iÃ§in Ã§ok gÃ¼Ã§lÃ¼dÃ¼r.

- **groupby()** â†’ Belirli bir veya birden fazla sÃ¼tuna gÃ¶re gruplama.  
- **agg() / mean() / sum() / count()** â†’ Gruplar Ã¼zerinde Ã¶zet fonksiyonlarÄ±.

In [29]:
import pandas as pd

# Ã–rnek veri
data = {
    "departman": ["IT", "IT", "HR", "IT", "HR", "HR"],
    "isim": ["Ali", "Veli", "AyÅŸe", "Mehmet", "Fatma", "Can"],
    "maas": [15000, 16000, 13000, 15500, 14000, 13500],
    "yas": [25, 30, 28, 26, 32, 29]
}

df = pd.DataFrame(data)
print("Orijinal DataFrame:\n", df, "\n")

# departman bazÄ±nda maaÅŸ ortalamasÄ±
ortalama = df.groupby("departman")["maas"].mean()
print("Departman BazÄ±nda Ortalama MaaÅŸ:\n", ortalama, "\n")

# departman bazÄ±nda maaÅŸ ve yaÅŸÄ±n ortalamasÄ±
agg_df = df.groupby("departman").agg({"maas":"mean", "yas":"mean"})
print("Departman BazÄ±nda MaaÅŸ ve YaÅŸ OrtalamasÄ±:\n", agg_df, "\n")

# departman bazÄ±nda kiÅŸi sayÄ±sÄ±
count_df = df.groupby("departman")["isim"].count()
print("Departman BazÄ±nda KiÅŸi SayÄ±sÄ±:\n", count_df, "\n")

Orijinal DataFrame:
   departman    isim   maas  yas
0        IT     Ali  15000   25
1        IT    Veli  16000   30
2        HR    AyÅŸe  13000   28
3        IT  Mehmet  15500   26
4        HR   Fatma  14000   32
5        HR     Can  13500   29

Departman BazÄ±nda Ortalama MaaÅŸ:
 departman
HR    13500.0
IT    15500.0
Name: maas, dtype: float64

Departman BazÄ±nda MaaÅŸ ve YaÅŸ OrtalamasÄ±:
               maas        yas
departman
HR         13500.0  29.666667
IT         15500.0  27.000000

Departman BazÄ±nda KiÅŸi SayÄ±sÄ±:
 departman
HR    3
IT    3
Name: isim, dtype: int64

### Notlar:
- `groupby("sÃ¼tun")` â†’ SÃ¼tun deÄŸerlerine gÃ¶re gruplama yapar.  
- `agg({"sÃ¼tun":"func"})` â†’ FarklÄ± sÃ¼tunlara farklÄ± fonksiyonlar uygulamak iÃ§in kullanÄ±lÄ±r.  
- `count()` â†’ Gruplardaki kayÄ±t sayÄ±sÄ±nÄ± verir.  
- `mean()` â†’ Ortalama, `sum()` â†’ Toplam, `max()/min()` â†’ En yÃ¼ksek/en dÃ¼ÅŸÃ¼k deÄŸer.  



## ğŸ¯ Mini Test
1. Departman bazÄ±nda maaÅŸ toplamÄ±nÄ± hesapla.  
2. Departman bazÄ±nda yaÅŸÄ±n maksimum ve minimum deÄŸerlerini bul.  
3. Birden fazla sÃ¼tunu gruplayÄ±p hem ortalama hem toplam deÄŸerleri gÃ¶ster.

# Veri BirleÅŸtirme (merge & concat)

Pandasâ€™ta farklÄ± DataFrameâ€™leri birleÅŸtirmek iÃ§in kullanÄ±lan iki ana yÃ¶ntem vardÄ±r:

- **concat()** â†’ DataFrameâ€™leri eksen bazlÄ± birleÅŸtirme (alt alta veya yan yana).  
- **merge()** â†’ SQLâ€™deki JOIN mantÄ±ÄŸÄ±yla anahtar sÃ¼tuna gÃ¶re birleÅŸtirme.

In [30]:
import pandas as pd

# Ã–rnek veri 1
df1 = pd.DataFrame({
    "id": [1, 2, 3],
    "isim": ["Ali", "Veli", "AyÅŸe"],
    "maas": [15000, 16000, 13000]
})

# Ã–rnek veri 2
df2 = pd.DataFrame({
    "id": [2, 3, 4],
    "isim": ["Veli", "AyÅŸe", "Can"],
    "departman": ["IT", "HR", "IT"]
})

# concat ile alt alta birleÅŸtirme
concat_df = pd.concat([df1, df2], ignore_index=True)
print("Concat (alt alta) :\n", concat_df, "\n")

# merge ile inner join (id sÃ¼tununa gÃ¶re)
merge_inner = pd.merge(df1, df2, on="id", how="inner")
print("Merge Inner Join :\n", merge_inner, "\n")

# merge ile left join
merge_left = pd.merge(df1, df2, on="id", how="left")
print("Merge Left Join :\n", merge_left, "\n")

Concat (alt alta) :
    id  isim     maas departman
0   1   Ali  15000.0       NaN
1   2  Veli  16000.0       NaN
2   3  AyÅŸe  13000.0       NaN
3   2  Veli      NaN        IT
4   3  AyÅŸe      NaN        HR
5   4   Can      NaN        IT

Merge Inner Join :
    id isim_x   maas isim_y departman
0   2   Veli  16000   Veli        IT
1   3   AyÅŸe  13000   AyÅŸe        HR

Merge Left Join :
    id isim_x   maas isim_y departman
0   1    Ali  15000    NaN       NaN
1   2   Veli  16000   Veli        IT
2   3   AyÅŸe  13000   AyÅŸe        HR

### Notlar:
- `concat([df1, df2], axis=0)` â†’ Alt alta, `axis=1` â†’ Yan yana birleÅŸtirir.  
- `ignore_index=True` â†’ Eski indexleri gÃ¶z ardÄ± edip yeni index oluÅŸturur.  
- `merge(df1, df2, on="sÃ¼tun", how="inner/left/right/outer")` â†’ JOIN mantÄ±ÄŸÄ±yla birleÅŸtirir.  
- `inner` â†’ ortak kayÄ±tlar, `left` â†’ sol DataFrame, `right` â†’ saÄŸ DataFrame, `outer` â†’ tÃ¼m kayÄ±tlar.  


## ğŸ¯ Mini Test
1. Ä°ki DataFrameâ€™i `concat` ile yan yana birleÅŸtir.  
2. `merge` ile outer join yapÄ±p tÃ¼m idâ€™leri tut.  
3. `merge` ile sadece ortak idâ€™leri gÃ¶ster.

---

# Tarih ve Zaman Verileri

Pandas, tarih ve zaman verilerini iÅŸlemek iÃ§in gÃ¼Ã§lÃ¼ fonksiyonlar sunar:

- `pd.to_datetime()` â†’ String, liste veya sÃ¼tunlarÄ± datetime formatÄ±na Ã§evirir.
- `Timestamp` â†’ Tek bir tarih-zaman deÄŸeri.
- `DatetimeIndex` â†’ VeriFrame veya Series iÃ§in tarih-zaman indeksleri.
- `.dt` accessor â†’ Tarih-saat bileÅŸenlerine eriÅŸim saÄŸlar (yÄ±l, ay, gÃ¼n, saat vb.).
- Tarih aralÄ±klarÄ± oluÅŸturmak iÃ§in `pd.date_range()` kullanÄ±labilir.
- Tarih ve zaman ile filtreleme ve gruplama (`resample`) yapÄ±labilir.

In [31]:
import pandas as pd

# Ã–rnek veri
data = {
    "Tarih": ["2025-01-01", "2025-01-02", "2025-01-03", "2025-01-04"],
    "SatÄ±ÅŸ": [200, 220, 250, 270]
}

df = pd.DataFrame(data)

# Tarih sÃ¼tununu datetime formatÄ±na Ã§evirme
df["Tarih"] = pd.to_datetime(df["Tarih"])

# Tarih bileÅŸenlerine eriÅŸim
df["YÄ±l"] = df["Tarih"].dt.year
df["Ay"] = df["Tarih"].dt.month
df["GÃ¼n"] = df["Tarih"].dt.day
print(df)

# Tarih aralÄ±ÄŸÄ± oluÅŸturma
date_rng = pd.date_range(start="2025-01-01", end="2025-01-10")
print("\nTarih AralÄ±ÄŸÄ±:\n", date_rng)

# Tarih filtresi: Ocak 3 ve sonrasÄ±
filtered = df[df["Tarih"] >= "2025-01-03"]
print("\nFiltrelenmiÅŸ Veri:\n", filtered)

       Tarih  SatÄ±ÅŸ   YÄ±l  Ay  GÃ¼n
0 2025-01-01    200  2025   1    1
1 2025-01-02    220  2025   1    2
2 2025-01-03    250  2025   1    3
3 2025-01-04    270  2025   1    4

Tarih AralÄ±ÄŸÄ±:
 DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06', '2025-01-07', '2025-01-08',
               '2025-01-09', '2025-01-10'],
              dtype='datetime64[ns]', freq='D')

FiltrelenmiÅŸ Veri:
        Tarih  SatÄ±ÅŸ   YÄ±l  Ay  GÃ¼n
2 2025-01-03    250  2025   1    3
3 2025-01-04    270  2025   1    4

## ğŸ¯ Mini Test

1. Bir tarih ve saat sÃ¼tunu oluÅŸturun (Ã¶r: "2025-10-01 08:00:00", "2025-10-02 09:30:00")
2. Tarih sÃ¼tununu datetime formatÄ±na Ã§evirin
3. YÄ±l, ay, gÃ¼n, saat ve dakika bilgilerini ayrÄ± sÃ¼tunlarda gÃ¶sterin
4. Belirli bir tarihten sonraki verileri filtreleyin
5. GÃ¼nlÃ¼k veya saatlik toplamlarÄ± gÃ¶rmek iÃ§in `resample()` kullanÄ±n

---

# Zaman Serisi Ä°ndeksleme ve Yeniden Ã–rnekleme (Resampling)

Pandas, zaman serisi verilerini analiz etmek iÃ§in gÃ¼Ã§lÃ¼ araÃ§lar sunar:

- Zaman serisi iÃ§in **Tarih-Saat indeksleri (DatetimeIndex)** kullanÄ±lÄ±r.
- `.set_index()` ile bir tarih sÃ¼tununu indeks olarak ayarlayabilirsiniz.
- `.resample()` â†’ Zaman serisini yeniden Ã¶rneklemek iÃ§in kullanÄ±lÄ±r (gÃ¼nlÃ¼k, haftalÄ±k, aylÄ±k vb.).
- `.resample()` ile birlikte **aggregation** fonksiyonlarÄ± (`sum`, `mean`, `max`, `min`) uygulanabilir.
- Zaman filtresi ve kaydÄ±rma iÅŸlemleri `.loc[]` ve `.shift()` ile yapÄ±labilir.

In [32]:
import pandas as pd

# Ã–rnek zaman serisi verisi
data = {
    "Tarih": pd.date_range(start="2025-01-01", end="2025-01-10"),
    "SatÄ±ÅŸ": [200, 220, 250, 270, 230, 210, 240, 260, 280, 300]
}

df = pd.DataFrame(data)

# Tarih sÃ¼tununu indeks yapma
df.set_index("Tarih", inplace=True)

# GÃ¼nlÃ¼k veriyi haftalÄ±k toplam ile yeniden Ã¶rnekleme
weekly_sum = df.resample("W").sum()
print("HaftalÄ±k Toplam:\n", weekly_sum)

# HaftalÄ±k ortalama
weekly_mean = df.resample("W").mean()
print("\nHaftalÄ±k Ortalama:\n", weekly_mean)

# Zaman filtresi: 2025-01-05 sonrasÄ±
filtered = df.loc["2025-01-05":]
print("\nFiltrelenmiÅŸ Veri:\n", filtered)

# Bir gÃ¼n ileri kaydÄ±rma
shifted = df.shift(1)
print("\nKaydÄ±rÄ±lmÄ±ÅŸ Veri:\n", shifted)

HaftalÄ±k Toplam:
             SatÄ±ÅŸ
Tarih
2025-01-05   1170
2025-01-12   1290

HaftalÄ±k Ortalama:
             SatÄ±ÅŸ
Tarih
2025-01-05  234.0
2025-01-12  258.0

FiltrelenmiÅŸ Veri:
             SatÄ±ÅŸ
Tarih
2025-01-05    230
2025-01-06    210
2025-01-07    240
2025-01-08    260
2025-01-09    280
2025-01-10    300

KaydÄ±rÄ±lmÄ±ÅŸ Veri:
             SatÄ±ÅŸ
Tarih
2025-01-01    NaN
2025-01-02  200.0
2025-01-03  220.0
2025-01-04  250.0
2025-01-05  270.0
2025-01-06  230.0
2025-01-07  210.0
2025-01-08  240.0
2025-01-09  260.0
2025-01-10  280.0

## ğŸ¯ Mini Test

1. Bir zaman serisi oluÅŸturun (10 gÃ¼nlÃ¼k veri, satÄ±ÅŸ miktarlarÄ±)
2. Tarih sÃ¼tununu indeks yapÄ±n
3. HaftalÄ±k ve aylÄ±k toplamlarÄ± hesaplayÄ±n
4. Belirli bir tarih aralÄ±ÄŸÄ±nÄ± filtreleyin
5. GÃ¼nlÃ¼k veriyi 1 gÃ¼n ileri kaydÄ±rÄ±n ve farkÄ± hesaplayÄ±n

---